<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aerus.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Aerus Realm of Champions</name>
    <description>3D Fighting Game</description>
    <author email="dev@aerus.com">Aerus Team</author>
    
    <!-- Points directly to your GitHub Pages Live Web Build -->
    <content src="https://vinzgame.github.io/AerusRealmofChampions/" />

    <!-- Grant permission to stream content directly from the web -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />

    <!-- Lock orientation to Landscape -->
    <preference name="Orientation" value="landscape" />

    <!-- Fullscreen & Immersive Mode -->
    <preference name="Fullscreen" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="KeepRunning" value="true" />
    <preference name="AndroidInmersiveMode" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
